.Main {

    section {
        
        .inner {
            width: 1200px;
            margin: 0 auto;
        }
    }
    
    .MainVisual {
        padding: 0;
        
        figure {
            position: relative;
            height: 750px;
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .inner {
            h2 {
                text-align: left;
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-50%, -50%);
                font-size: 40px;
                font-weight: 700;
                color: #ddd;
            }
        }

        @for $i from 1 through 4 {
            .item0#{$i} {
                background-image: url(../../public/assets/MainVisual0#{$i}.jpg);
            }
        }
    }
}
