.Main {
    
    .MainVisual {
        padding: 0;
        
        figure {
            height: 600px;
            background-image: url(../../public/assets/MainVisual01.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .container {
                width: 1200px;
                margin: 0 auto;

                .mainSlide {
                    height: 600px;
    
                    h2 {
                        line-height: 500px;
                        font-size: 35px;
                        font-weight: 700;
                        color: #f7f7f7;
                    }   
                }
            }
            
        }
    }
}
