.Main {
    
    .MainVisual {
        padding: 0;
        
        figure {
            height: 600px;
            background-image: url(../../public/assets/MainVisual01.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .container {
                width: 1200px;
                margin: 0 auto;

                .mainSlide {
                    height: 600px;
    
                    h2 {
                        line-height: 350px;
                        font-size: 45px;
                        font-weight: 700;
                        color: #f7f7f7;
                    }   
                }

                .slideArrows {
                    position: absolute;
                    top: 45%;

                    button {
                        border: none;
                        background: none;
                        font-size: 27px;
                        color: #f7f7f7;
                    }
                }
            }
            
        }
    }
}
