.container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.campTitle img {
    margin: 0 0 15px 0;
}

.campTitle h3 {
    font-size: 19px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.campTitle p {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 5px 0;
}